.header {
	background-color: #131921;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 100;
}

.header__logo {
	/* width: 100px; */
	width: 6rem;
	/* margin: 18px 20px 0; */
	margin: 1.1rem 1.2rem 0;
}

.header__search {
	display: flex;
	/* flex 1 resize in the size of screen */
	flex: 1;
	align-items: center;
}

.header__searchInput {
	/* height: 12px;
	padding: 10px; */
	height: 0.7rem;
	padding: 0.7rem;
	border: none;
	width: 100%;
}
.header__searchIcon {
	/* padding: 5px;
	height: 22px !important; */
	padding: 0.35rem;
	height: 1.4rem !important;
	background-color: #cd9042;
}

.header__nav {
	display: flex;
	justify-content: space-evenly;
}
.header__link {
	color: #fff;
	text-decoration: none;
}
.header__option {
	display: flex;
	flex-direction: column;
	/* margin-left: 10px;
	margin-right: 10px; */
	margin-left: 0.7rem;
	margin-right: 0.7rem;
}
.header__optionLineOne {
	/* font-size: 10px; */
	font-size: 0.7rem;
}
.header__optionLineTwo {
	/* font-size: 13px; */
	font-size: 0.8rem;
	font-weight: 800;
}
.header__optionBasket {
	display: flex;
	align-items: center;
	/* margin-top: 3px; */
	margin-top: 0.2rem;
}
.header__basketCount {
	/* margin-left: 10px;
	margin-right: 10px; */
	margin-left: 0.7rem;
	margin-right: 0.7rem;
}

@media (max-width: 420px) {
	.header__logo {
		width: 50px;
		margin-left: 0.3rem;
		margin-right: 0.3rem;
	}
	.header__option {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
	}
	.header__optionTwo,
	.header__optionThree {
		display: none;
	}

	.header__search {
		margin-left: 0.3rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
	.header {
		max-width: 100%;
	}
}
